<div class="section-title section-title--grey">
    <div class="tz-container tz-align-center tz-d-flex tz-justify-between">
        <p class="section-title_name">Avtosalonun VIP elanları</p>
        <div class="lotriver-text-banner" id="js-lotriver-text-banner">
            <div style="visibility:hidden;height:0px;left:-1000px;position:absolute;"></div>
            <div id="ad_ph_2" style="display:none;"></div>
        </div>
    </div>
</div>
<div class="tz-container">
    <div class="products">
        <div class="products-i vipped featured salon"><a class="products-i__link" target="_blank"
                href="/autos/7548403-nissan-micra"></a><a class="js-bookmark-item-7548403" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7548403-nissan-micra/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7548403" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7548403-nissan-micra/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Nissan Micra" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F12%2F15%2F57%2F31%2F9aa6b092-2658-46cb-970c-ce32df4c6c4c%2F35508_eIu_1aLsaCLwYjnKAhQCPQ.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
                    <div class="products-i__label products-i__label--salon">Salon</div>
                </div>
                <div class="products-i__paid"><span class="featured-icon"></span><span class="vipped-icon"></span></div>
                <div class="products-i__info">
                    <div class="products-i__icon products-i__icon--barter">
                        <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
                    </div>
                    <div class="products-i__icon products-i__icon--loan">
                        <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
                    </div>
                </div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">13 200 <span>AZN</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Nissan Micra</div>
                <div class="products-i__attributes products-i__bottom-text">2013, 1.2 L, 39 000 km</div>
                <div class="products-i__datetime">Bakı, bugün 18:24</div>
            </div>
        </div>
        <div class="products-i vipped salon"><a class="products-i__link" target="_blank"
                href="/autos/7240291-changan-benni-e-star"></a><a class="js-bookmark-item-7240291" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7240291-changan-benni-e-star/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7240291" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7240291-changan-benni-e-star/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Changan Benni E-Star" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F04%2F08%2F12%2F14%2F16%2Fc5f250fc-fd75-48df-9940-084313555aea%2F58632_lQeqoFl6MkTNV4jgZqCkCg.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
                    <div class="products-i__label products-i__label--salon">Salon</div>
                </div>
                <div class="products-i__paid"><span class="vipped-icon"></span></div>
                <div class="products-i__info">
                    <div class="products-i__icon products-i__icon--barter">
                        <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
                    </div>
                </div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">28 000 <span>AZN</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Changan Benni E-Star</div>
                <div class="products-i__attributes products-i__bottom-text">2022, 0.0 L, 0 km</div>
                <div class="products-i__datetime">Bakı, 11.07.2023 14:34</div>
            </div>
        </div>
        <div class="products-i vipped salon"><a class="products-i__link" target="_blank"
                href="/autos/7542226-land-rover-range-rover"></a><a class="js-bookmark-item-7542226" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7542226-land-rover-range-rover/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7542226" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7542226-land-rover-range-rover/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Land Rover Range Rover" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F10%2F13%2F29%2F20%2Fef9605d1-3509-4b41-9f2f-df26006ff155%2F74294_4mCxY4y5nSYz8dpRuYjfQw.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
                    <div class="products-i__label products-i__label--salon">Salon</div>
                </div>
                <div class="products-i__paid"><span class="vipped-icon"></span></div>
                <div class="products-i__info">
                    <div class="products-i__icon products-i__icon--barter">
                        <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
                    </div>
                </div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">63 900 <span>$</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Land Rover Range Rover</div>
                <div class="products-i__attributes products-i__bottom-text">2014, 3.0 L, 164 312 km</div>
                <div class="products-i__datetime">Bakı, dünən 13:32</div>
            </div>
        </div>
        <div class="products-i vipped salon"><a class="products-i__link" target="_blank"
                href="/autos/7529778-land-rover-range-rover"></a><a class="js-bookmark-item-7529778" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7529778-land-rover-range-rover/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7529778" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7529778-land-rover-range-rover/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Land Rover Range Rover" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F05%2F19%2F55%2F46%2F09021d9a-62d8-4a32-8574-1a689c3cc21f%2F21523_ZLOryf9ug7l9qh6zoAtk7g.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
                    <div class="products-i__label products-i__label--salon">Salon</div>
                </div>
                <div class="products-i__paid"><span class="vipped-icon"></span></div>
                <div class="products-i__info"></div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">310 000 <span>$</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Land Rover Range Rover</div>
                <div class="products-i__attributes products-i__bottom-text">2022, 4.4 L, 0 km</div>
                <div class="products-i__datetime">Bakı, 12.07.2023 15:00</div>
            </div>
        </div>
        <div class="products-i vipped featured salon"><a class="products-i__link" target="_blank"
                href="/autos/7388578-avatr-11"></a><a class="js-bookmark-item-7388578" data-remote="true" rel="nofollow"
                data-method="post" href="/autos/7388578-avatr-11/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7388578" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7388578-avatr-11/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Avatr 11" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F05%2F16%2F12%2F25%2F51%2F72d1ba30-236e-4271-94bb-52fd29ea768d%2F13701_52Zc2lTlBTY55MKzkZ9n8g.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
                    <div class="products-i__label products-i__label--salon">Salon</div>
                </div>
                <div class="products-i__paid"><span class="featured-icon"></span><span class="vipped-icon"></span></div>
                <div class="products-i__info"></div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">83 000 <span>$</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Avatr 11</div>
                <div class="products-i__attributes products-i__bottom-text">2023, 0.0 L, 0 km</div>
                <div class="products-i__datetime">Bakı, 03.07.2023 16:34</div>
            </div>
        </div>
        <div class="products-i vipped salon"><a class="products-i__link" target="_blank"
                href="/autos/7457438-haval-jolion"></a><a class="js-bookmark-item-7457438" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7457438-haval-jolion/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7457438" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7457438-haval-jolion/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Haval Jolion" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F06%2F09%2F17%2F23%2F15%2Fe6fb0443-761f-4470-ba0d-101db9d361ba%2F15090_NljidgUD98TmGiwgg8qFBw.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
                    <div class="products-i__label products-i__label--salon">Salon</div>
                </div>
                <div class="products-i__paid"><span class="vipped-icon"></span></div>
                <div class="products-i__info"></div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">48 900 <span>AZN</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Haval Jolion</div>
                <div class="products-i__attributes products-i__bottom-text">2023, 1.5 L, 0 km</div>
                <div class="products-i__datetime">Bakı, 22.07.2023 11:17</div>
            </div>
        </div>
        <div class="products-i vipped featured salon"><a class="products-i__link" target="_blank"
                href="/autos/7525330-skoda-karoq"></a><a class="js-bookmark-item-7525330" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7525330-skoda-karoq/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7525330" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7525330-skoda-karoq/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Skoda Karoq" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F04%2F10%2F18%2F30%2Fb7179b9f-86ff-44d1-b410-c191edb9475c%2F79813_8BhFcnHY_srGRuVe6UYJDg.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
                    <div class="products-i__label products-i__label--salon">Salon</div>
                </div>
                <div class="products-i__paid"><span class="featured-icon"></span><span class="vipped-icon"></span></div>
                <div class="products-i__info"></div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">53 900 <span>AZN</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Skoda Karoq</div>
                <div class="products-i__attributes products-i__bottom-text">2023, 1.4 L, 0 km</div>
                <div class="products-i__datetime">Bakı, 04.07.2023 11:00</div>
            </div>
        </div>
        <div class="products-i vipped featured salon"><a class="products-i__link" target="_blank"
                href="/autos/6281012-lada-vaz-largus"></a><a class="js-bookmark-item-6281012" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/6281012-lada-vaz-largus/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-6281012" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/6281012-lada-vaz-largus/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="LADA (VAZ) Largus" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2022%2F05%2F11%2F13%2F28%2F43%2F10f272ea-cba3-4c9c-9ef7-db7a00075389%2F51819_OI-8Qj0VTfqiQtsAQg7_LQ.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
                    <div class="products-i__label products-i__label--salon">Salon</div>
                </div>
                <div class="products-i__paid"><span class="featured-icon"></span><span class="vipped-icon"></span></div>
                <div class="products-i__info"></div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">24 900 <span>AZN</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">LADA (VAZ) Largus</div>
                <div class="products-i__attributes products-i__bottom-text">2022, 1.6 L, 0 km</div>
                <div class="products-i__datetime">Bakı, 10.07.2023 09:16</div>
            </div>
        </div>
        <div class="products-i vipped"><a class="products-i__link" target="_blank"
                href="/autos/7525490-toyota-camry"></a><a class="js-bookmark-item-7525490" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7525490-toyota-camry/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7525490" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7525490-toyota-camry/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Toyota Camry" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F04%2F11%2F22%2F31%2F121d1961-9eb4-4b86-a697-9f9de006989d%2F19287_HdCRvfsx-kKb3dXY_KrE6A.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                <div class="products-i__paid"><span class="vipped-icon"></span></div>
                <div class="products-i__info"></div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">40 000 <span>$</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Toyota Camry</div>
                <div class="products-i__attributes products-i__bottom-text">2021, 2.5 L, 32 000 km</div>
                <div class="products-i__datetime">Bakı, 15.07.2023 12:06</div>
            </div>
        </div>
        <div class="products-i vipped"><a class="products-i__link" target="_blank"
                href="/autos/7564434-chevrolet-cruze"></a><a class="js-bookmark-item-7564434" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7564434-chevrolet-cruze/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7564434" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7564434-chevrolet-cruze/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Chevrolet Cruze" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F18%2F11%2F24%2F25%2F995b9a45-0d6e-4bb3-9db9-b927fac9ea36%2F82053_V502hGFq09S_WSL1OgJtBQ.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                <div class="products-i__paid"><span class="vipped-icon"></span></div>
                <div class="products-i__info"></div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">15 700 <span>AZN</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Chevrolet Cruze</div>
                <div class="products-i__attributes products-i__bottom-text">2016, 1.4 L, 174 000 km</div>
                <div class="products-i__datetime">Bakı, dünən 15:08</div>
            </div>
        </div>
        <div class="products-i vipped"><a class="products-i__link" target="_blank" href="/autos/7507762-bmw-530e"></a><a
                class="js-bookmark-item-7507762" data-remote="true" rel="nofollow" data-method="post"
                href="/autos/7507762-bmw-530e/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7507762" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7507762-bmw-530e/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="BMW 530e" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F06%2F27%2F20%2F06%2F37%2Fade39cc9-49d2-40b6-ae48-3a3cfdd8bc5c%2F15057_bFd7iW7VQQFhFGegMlnvNA.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                <div class="products-i__paid"><span class="vipped-icon"></span></div>
                <div class="products-i__info"></div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">35 500 <span>$</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">BMW 530e</div>
                <div class="products-i__attributes products-i__bottom-text">2019, 2.0 L, 42 500 km</div>
                <div class="products-i__datetime">Bakı, bugün 09:26</div>
            </div>
        </div>
        <div class="products-i vipped featured"><a class="products-i__link" target="_blank"
                href="/autos/7547106-toyota-land-cruiser"></a><a class="js-bookmark-item-7547106" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7547106-toyota-land-cruiser/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7547106" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7547106-toyota-land-cruiser/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Toyota Land Cruiser" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F12%2F07%2F11%2F08%2F74ca503a-5a44-4aa3-8594-e6efca4b213a%2F82042_di6iJeJM1yj0tHgZ9EdrEA.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                <div class="products-i__paid"><span class="featured-icon"></span><span class="vipped-icon"></span></div>
                <div class="products-i__info"></div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">45 000 <span>$</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Toyota Land Cruiser</div>
                <div class="products-i__attributes products-i__bottom-text">2013, 4.0 L, 93 160 km</div>
                <div class="products-i__datetime">Bakı, 15.07.2023 11:23</div>
            </div>
        </div>
        <div class="products-i vipped"><a class="products-i__link" target="_blank"
                href="/autos/7584623-lada-vaz-niva"></a><a class="js-bookmark-item-7584623" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7584623-lada-vaz-niva/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7584623" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7584623-lada-vaz-niva/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="LADA (VAZ) Niva" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F24%2F17%2F48%2F15%2Fd1044025-5c1c-4258-88d6-056d1089f54e%2F35497_DzIsv4KxE7DYMM_JhfWULg.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                <div class="products-i__paid"><span class="vipped-icon"></span></div>
                <div class="products-i__info"></div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">15 800 <span>AZN</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">LADA (VAZ) Niva</div>
                <div class="products-i__attributes products-i__bottom-text">2018, 1.7 L, 34 000 km</div>
                <div class="products-i__datetime">Sumqayıt, bugün 15:11</div>
            </div>
        </div>
        <div class="products-i vipped"><a class="products-i__link" target="_blank"
                href="/autos/7571712-toyota-camry"></a><a class="js-bookmark-item-7571712" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7571712-toyota-camry/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7571712" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7571712-toyota-camry/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Toyota Camry" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F20%2F16%2F26%2F36%2Fb9ee74ca-4d34-40d5-baef-0f65ef2deb56%2F40020_ktgPmyO4H4tp2fjbnzys9w.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                <div class="products-i__paid"><span class="vipped-icon"></span></div>
                <div class="products-i__info"></div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">21 700 <span>AZN</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Toyota Camry</div>
                <div class="products-i__attributes products-i__bottom-text">2009, 2.4 L, 371 000 km</div>
                <div class="products-i__datetime">Bakı, 24.07.2023 09:50</div>
            </div>
        </div>
        <div class="products-i vipped featured"><a class="products-i__link" target="_blank"
                href="/autos/7557759-fiat-500l"></a><a class="js-bookmark-item-7557759" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7557759-fiat-500l/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7557759" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7557759-fiat-500l/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Fiat 500L" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F15%2F23%2F32%2F46%2Fef7d10ae-5147-491d-92fd-267d71fd7243%2F82021_0IucSfUp9L21qX50lHbL4Q.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
                    <div class="products-i__label products-i__label--vin">VIN</div>
                </div>
                <div class="products-i__paid"><span class="featured-icon"></span><span class="vipped-icon"></span></div>
                <div class="products-i__info">
                    <div class="products-i__icon products-i__icon--barter">
                        <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
                    </div>
                </div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">17 800 <span>AZN</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Fiat 500L</div>
                <div class="products-i__attributes products-i__bottom-text">2014, 1.4 L, 69 147 km</div>
                <div class="products-i__datetime">Bakı, 22.07.2023 19:38</div>
            </div>
        </div>
        <div class="products-i vipped"><a class="products-i__link" target="_blank"
                href="/autos/7533048-hyundai-grandeur"></a><a class="js-bookmark-item-7533048" data-remote="true"
                rel="nofollow" data-method="post" href="/autos/7533048-hyundai-grandeur/bookmarks">
                <div class="bookmarking"></div>
            </a><a class="hide js-unbookmark-item-7533048" data-remote="true" rel="nofollow" data-method="delete"
                href="/autos/7533048-hyundai-grandeur/bookmarks">
                <div class="bookmarking added"></div>
            </a>
            <div class="products-i__top"><img alt="Hyundai Grandeur" loading="lazy"
                    src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F06%2F23%2F37%2F40%2F4e1f1713-a1e1-44e2-9884-e8aa3b3156d4%2F74294_myIqtuzFoSsLs9LjqG4ATg.jpg">
                <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                <div class="products-i__paid"><span class="vipped-icon"></span></div>
                <div class="products-i__info"></div>
            </div>
            <div class="products-i__bottom">
                <div class="products-i__price products-i__bottom-text">
                    <div class="product-price">34 800 <span>AZN</span></div>
                </div>
                <div class="products-i__name products-i__bottom-text">Hyundai Grandeur</div>
                <div class="products-i__attributes products-i__bottom-text">2015, 2.2 L, 120 800 km</div>
                <div class="products-i__datetime">Bakı, 18.07.2023 21:56</div>
            </div>
        </div>
    </div>
</div>