<section id="section-recent" class="">
    <div class="section-title section-title--grey">
        <div class="tz-container tz-align-center tz-d-flex tz-justify-between">
            <p class="section-title_name">Son elanlar</p><a class="section-title_more" target="_blank"
                href="/autos">Hamısını göstər</a>
        </div>
    </div>
    <div class="tz-container">
        <div class="products products--condensed">
            <div class="products-i vipped featured"><a class="products-i__link" target="_blank"
                    href="/autos/7500458-mercedes-s-350"></a><a class="js-bookmark-item-7500458" data-remote="true"
                    rel="nofollow" data-method="post" href="/autos/7500458-mercedes-s-350/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7500458" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7500458-mercedes-s-350/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Mercedes S 350" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F06%2F25%2F12%2F46%2F35%2F9e2d0169-62cf-42ee-aed2-c850d661f5ac%2F79812_kSyE8KSov30by9hAIPzOeA.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__paid"><span class="featured-icon"></span><span class="vipped-icon"></span>
                    </div>
                    <div class="products-i__info">
                        <div class="products-i__icon products-i__icon--barter">
                            <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
                        </div>
                    </div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">13 400 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Mercedes S 350</div>
                    <div class="products-i__attributes products-i__bottom-text">2002, 3.5 L, 310 000 km</div>
                    <div class="products-i__datetime">Bakı, bugün 18:43</div>
                </div>
            </div>
            <div class="products-i vipped featured"><a class="products-i__link" target="_blank"
                    href="/autos/7591054-infiniti-fx37"></a><a class="js-bookmark-item-7591054" data-remote="true"
                    rel="nofollow" data-method="post" href="/autos/7591054-infiniti-fx37/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7591054" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7591054-infiniti-fx37/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Infiniti FX37" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F26%2F18%2F21%2F07%2Fc3b15f67-cc86-4d04-b91f-e7119e7070bc%2F82072_aG2UBlLBb1OIcXDjmv5mwQ.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__paid"><span class="featured-icon"></span><span class="vipped-icon"></span>
                    </div>
                    <div class="products-i__info"></div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">23 800 <span>$</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Infiniti FX37</div>
                    <div class="products-i__attributes products-i__bottom-text">2013, 3.7 L, 166 000 km</div>
                    <div class="products-i__datetime">Bakı, bugün 18:43</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank"
                    href="/autos/7531113-lada-vaz-niva"></a><a class="js-bookmark-item-7531113" data-remote="true"
                    rel="nofollow" data-method="post" href="/autos/7531113-lada-vaz-niva/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7531113" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7531113-lada-vaz-niva/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="LADA (VAZ) Niva" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F26%2F18%2F40%2F47%2F5d8e6328-ef14-4e67-9384-2196428db3af%2F35461_g7ua-xb28f0EbiAq61aLQg.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info"></div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">3 500 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">LADA (VAZ) Niva</div>
                    <div class="products-i__attributes products-i__bottom-text">1992, 1.6 L, 29 085 km</div>
                    <div class="products-i__datetime">Tovuz, bugün 18:43</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank"
                    href="/autos/7591052-toyota-corolla"></a><a class="js-bookmark-item-7591052" data-remote="true"
                    rel="nofollow" data-method="post" href="/autos/7591052-toyota-corolla/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7591052" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7591052-toyota-corolla/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Toyota Corolla" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F26%2F18%2F24%2F37%2Fc084a686-7dcb-4cd4-b361-023dda5ec1a8%2F82099_AVKI0DDVKMvTjlz9QykyUQ.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info"></div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">26 300 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Toyota Corolla</div>
                    <div class="products-i__attributes products-i__bottom-text">2013, 1.6 L, 145 000 km</div>
                    <div class="products-i__datetime">Bakı, bugün 18:42</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank" href="/autos/7573801-kia-sorento"></a><a
                    class="js-bookmark-item-7573801" data-remote="true" rel="nofollow" data-method="post"
                    href="/autos/7573801-kia-sorento/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7573801" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7573801-kia-sorento/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Kia Sorento" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F21%2F11%2F22%2F27%2Fdbb0e570-ec4f-4efb-9bf0-1d40151e9cb9%2F35461_vk_AVT84J64O1RvzMRQzyw.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info"></div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">25 800 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Kia Sorento</div>
                    <div class="products-i__attributes products-i__bottom-text">2010, 2.0 L, 198 300 km</div>
                    <div class="products-i__datetime">Bakı, bugün 18:42</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank" href="/autos/7591048-opel-corsa"></a><a
                    class="js-bookmark-item-7591048" data-remote="true" rel="nofollow" data-method="post"
                    href="/autos/7591048-opel-corsa/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7591048" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7591048-opel-corsa/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Opel Corsa" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F26%2F18%2F34%2F17%2Fbd7e4fe0-a63b-4fec-8736-5b911c215df8%2F40060_P6ZrILCtQ8q6ckMAPqvm7Q.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info"></div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">9 500 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Opel Corsa</div>
                    <div class="products-i__attributes products-i__bottom-text">2008, 1.4 L, 200 000 km</div>
                    <div class="products-i__datetime">Xaçmaz, bugün 18:42</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank" href="/autos/7525067-ford-fusion"></a><a
                    class="js-bookmark-item-7525067" data-remote="true" rel="nofollow" data-method="post"
                    href="/autos/7525067-ford-fusion/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7525067" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7525067-ford-fusion/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Ford Fusion" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F03%2F23%2F54%2F40%2F6be2b5f3-7563-4b60-8656-32a9bba33e8e%2F79831_3NGG1e8gp4PP4h91ZQ0IQw.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap">
                        <div class="products-i__label products-i__label--vin">VIN</div>
                    </div>
                    <div class="products-i__info"></div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">23 000 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Ford Fusion</div>
                    <div class="products-i__attributes products-i__bottom-text">2014, 1.5 L, 203 000 km</div>
                    <div class="products-i__datetime">Bakı, bugün 18:41</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank"
                    href="/autos/7591050-chevrolet-aveo"></a><a class="js-bookmark-item-7591050" data-remote="true"
                    rel="nofollow" data-method="post" href="/autos/7591050-chevrolet-aveo/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7591050" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7591050-chevrolet-aveo/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Chevrolet Aveo" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F26%2F18%2F31%2F53%2Fb9f716b2-9d07-4866-93de-a167cc555570%2F35470_xfLmlq4AE_61ovb8MhzXBg.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info"></div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">11 900 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Chevrolet Aveo</div>
                    <div class="products-i__attributes products-i__bottom-text">2012, 1.4 L, 134 000 km</div>
                    <div class="products-i__datetime">Bakı, bugün 18:41</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank" href="/autos/7585906-opel-astra"></a><a
                    class="js-bookmark-item-7585906" data-remote="true" rel="nofollow" data-method="post"
                    href="/autos/7585906-opel-astra/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7585906" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7585906-opel-astra/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Opel Astra" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F24%2F23%2F56%2F30%2F4fb3f167-2cf1-4e65-bf8e-2d4ee012db31%2F40072_fda4V-i3FCEsKTdeMRkrtg.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info">
                        <div class="products-i__icon products-i__icon--barter">
                            <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
                        </div>
                        <div class="products-i__icon products-i__icon--loan">
                            <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
                        </div>
                    </div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">11 600 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Opel Astra</div>
                    <div class="products-i__attributes products-i__bottom-text">2008, 1.4 L, 313 313 km</div>
                    <div class="products-i__datetime">Bakı, bugün 18:41</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank"
                    href="/autos/7547293-hyundai-sonata"></a><a class="js-bookmark-item-7547293" data-remote="true"
                    rel="nofollow" data-method="post" href="/autos/7547293-hyundai-sonata/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7547293" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7547293-hyundai-sonata/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Hyundai Sonata" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F12%2F10%2F07%2F40%2F268ae6c4-1c80-4d65-94a6-8d8c93180bef%2F82117_WSxD1upFN_eFTy2-X1ieeA.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info"></div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">31 600 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Hyundai Sonata</div>
                    <div class="products-i__attributes products-i__bottom-text">2015, 2.4 L, 112 000 km</div>
                    <div class="products-i__datetime">Bakı, bugün 18:40</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank" href="/autos/7591047-opel-astra"></a><a
                    class="js-bookmark-item-7591047" data-remote="true" rel="nofollow" data-method="post"
                    href="/autos/7591047-opel-astra/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7591047" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7591047-opel-astra/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Opel Astra" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F26%2F18%2F34%2F56%2F43d9689d-d9ce-4eed-a1ea-2d2205da8031%2F40025_0_Lr57_kzQmorfCLxM16xw.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info"></div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">11 500 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Opel Astra</div>
                    <div class="products-i__attributes products-i__bottom-text">2006, 1.3 L, 298 000 km</div>
                    <div class="products-i__datetime">Bakı, bugün 18:40</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank"
                    href="/autos/7591045-lada-vaz-granta"></a><a class="js-bookmark-item-7591045" data-remote="true"
                    rel="nofollow" data-method="post" href="/autos/7591045-lada-vaz-granta/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7591045" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7591045-lada-vaz-granta/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="LADA (VAZ) Granta" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F26%2F18%2F35%2F39%2Ffc814398-9069-4af7-aece-ba6a73820958%2F35449_H8gtFCqvLXsJTLtUjvSIlQ.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info">
                        <div class="products-i__icon products-i__icon--loan">
                            <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
                        </div>
                    </div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">9 200 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">LADA (VAZ) Granta</div>
                    <div class="products-i__attributes products-i__bottom-text">2013, 1.6 L, 210 000 km</div>
                    <div class="products-i__datetime">Bakı, bugün 18:43</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank" href="/autos/7590995-tufan-m50"></a><a
                    class="js-bookmark-item-7590995" data-remote="true" rel="nofollow" data-method="post"
                    href="/autos/7590995-tufan-m50/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7590995" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7590995-tufan-m50/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Tufan M50" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F26%2F18%2F21%2F28%2Ff51e1a8f-c8ea-4f9f-8075-ea45c3b66bc3%2F35484__QHsK5hcR9oQnsKolweupQ.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info"></div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">1 000 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Tufan M50</div>
                    <div class="products-i__attributes products-i__bottom-text">2022, 0.1 L, 10 800 km</div>
                    <div class="products-i__datetime">Bakı, bugün 18:24</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank" href="/autos/7590728-tufan-m50"></a><a
                    class="js-bookmark-item-7590728" data-remote="true" rel="nofollow" data-method="post"
                    href="/autos/7590728-tufan-m50/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7590728" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7590728-tufan-m50/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Tufan M50" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F26%2F16%2F50%2F51%2Fe203806b-7e76-4332-a920-39f42fc83bdd%2F35486_ZVhEd5Kh0xOCOt0RPMRQQg.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info"></div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">1 600 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Tufan M50</div>
                    <div class="products-i__attributes products-i__bottom-text">2022, 0.1 L, 38 km</div>
                    <div class="products-i__datetime">Bakı, bugün 16:56</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank"
                    href="/autos/7590710-suzuki-gsx-r-1000"></a><a class="js-bookmark-item-7590710" data-remote="true"
                    rel="nofollow" data-method="post" href="/autos/7590710-suzuki-gsx-r-1000/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7590710" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7590710-suzuki-gsx-r-1000/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Suzuki GSX-R 1000" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F26%2F16%2F36%2F53%2Fb6595400-a7aa-4c68-ae5f-62815d66cfcf%2F40053_69XboQSU95ZifdxI5ABuOQ.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info">
                        <div class="products-i__icon products-i__icon--barter">
                            <div class="products-i__tooltip products-i__tooltip--barter">Barter mümkündür</div>
                        </div>
                    </div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">10 000 <span>$</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Suzuki GSX-R 1000</div>
                    <div class="products-i__attributes products-i__bottom-text">2012, 1.0 L, 34 000 km</div>
                    <div class="products-i__datetime">Bakı, bugün 17:21</div>
                </div>
            </div>
            <div class="products-i"><a class="products-i__link" target="_blank"
                    href="/autos/7590671-yamaha-mt-15"></a><a class="js-bookmark-item-7590671" data-remote="true"
                    rel="nofollow" data-method="post" href="/autos/7590671-yamaha-mt-15/bookmarks">
                    <div class="bookmarking"></div>
                </a><a class="hide js-unbookmark-item-7590671" data-remote="true" rel="nofollow" data-method="delete"
                    href="/autos/7590671-yamaha-mt-15/bookmarks">
                    <div class="bookmarking added"></div>
                </a>
                <div class="products-i__top"><img alt="Yamaha MT-15" loading="lazy"
                        src="https://turbo.azstatic.com/uploads/f460x343/2023%2F07%2F26%2F16%2F34%2F19%2Ff7617d8c-9cbf-4f95-a2bb-0a579f27d491%2F40076_b03PJxIi3R7sEmeSoeeMgg.jpg">
                    <div class="products-i__label-container tz-d-flex tz-gap-5 tz-wrap-wrap"></div>
                    <div class="products-i__info">
                        <div class="products-i__icon products-i__icon--loan">
                            <div class="products-i__tooltip products-i__tooltip--loan">Kreditdədir</div>
                        </div>
                    </div>
                </div>
                <div class="products-i__bottom">
                    <div class="products-i__price products-i__bottom-text">
                        <div class="product-price">6 250 <span>AZN</span></div>
                    </div>
                    <div class="products-i__name products-i__bottom-text">Yamaha MT-15</div>
                    <div class="products-i__attributes products-i__bottom-text">2023, 0.2 L, 700 km</div>
                    <div class="products-i__datetime">Bakı, bugün 16:37</div>
                </div>
            </div>
        </div>
    </div>
</section>